.cards {
    display: flex;

    .card__productos {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color:white;
    }
    
    .card__productos h4 {
        font-family: 'Kanit', sans-serif;
        font-size: 40px;
    }
    
    .card__productos p {
        font-family: 'Rubik', sans-serif;
        font-size: 15px;
    }
    
    .card {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        transition: all .3s;
    }
    
    .card img {
        max-width: 100%;
    }
    
    .card h4,
    .card p,
    .card a {
        color: black;
    }
    
    .card h4 {
        font-family: 'Kanit', sans-serif;
        font-size: 1.6rem;
    }
    
    .card p {
        font-family: 'Rubik', sans-serif;
        width: 85%;
        text-align: center;
    }
    
    .card a {
        font-family: 'Kanit', sans-serif;
        font-size: 1rem;
        background-color: red;
        padding: .75rem 1rem;
        color: white;
        text-decoration: none;
    }
    
    .card:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}