.header {
    .header__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
    }
    
    .header__right p {
        font-family: 'Kanit', sans-serif;
    }
    
    .header__right .menu {
        list-style: none;
        display: flex;
        font-family: 'Kanit', sans-serif;
        font-size: 1.4rem;
        font-weight: 800;
        gap: 2rem;
        letter-spacing: 2px;
        flex-wrap: wrap;

        .menu {
            display: flex;

            .menu a {
                text-decoration: none;
                font-family: 'Kanit', sans-serif;
                color: $mainColor;
            }
        }
    }
      
}