.hero {
    background-color: black;

    .hero__header {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        padding-bottom: 0;
    }

    .logo__imagen {
        width: 230px;
        height: 100px;
    }

    .hero__main {
        display: flex;
        padding-inline: 6rem;
    }
    
    .hero__main > div {
        flex: 1;
    
    }
    
    .hero__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .hero__text h4 {
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        border: 2px solid #ffffff;
        width: max-content;
        padding: .4rem;
        padding-bottom: .4rem;
        margin-bottom: 1rem;
    }
    
    .hero__text h2 {
        font-family: 'Kanit', sans-serif, cursive;
        font-size: 5rem;
        line-height: 1;
    }
    
    .hero__text h3 {
        font-family: 'Kanit', sans-serif, cursive;
        font-size: 3rem;
        color: red;
    }
    
     .hero__img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 3rem;
        position: relative;
     }
    
    .hero__img img {
        max-width: 100%;
    }
    
}